<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <title>TypeIdea 博客系统</title>
</head>
<body>
    {% if tag %}
        标签页：{{ tag.name }}
    {% endif %}
    {% if category %}
        分类页：{{ category.name }}
    {% endif %}
    <div>顶部分类：
        {% for cate in navs %}
            <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
        {% endfor %}
    </div>
    {% for post in post_list %}
        <li>
            <a href="/post/{{ post.id }}.html">{{ post.title }}</a>
            <div>
                <span>分类: {{ post.category.name }}</span>
                <span>分类: {{ post.owner.username }}</span>
            </div>
            <p>
                {{ post.desc }}
            </p>
            <p>
                {{ post.content }}
            </p>
        </li>
    {% endfor %}
    <div>底部分类：
        {% for cate in categories %}
            <a href="/category/{{ cate.id }}">{{ cate.name }}</a>
        {% endfor %}
    </div>
</body>
</html>